:root {
    background-color:#040404;
    color:#FFFFFF;
    font-family:'Helvetica Neue', Helvetica, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size:16px;
    font-weight:bold;
    letter-spacing:-4.2%;
    line-height:100%;
}

.upper {
    text-transform:uppercase;
}

.right {
    text-align:right;
}